
<h2>Add a new Restaurant</h2>
<div>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <div class="my-3">
  <%= f.select :category, collection: Restaurant::CATEGORIES %>
  <%= f.submit class:'btn btn-primary mx-3' %>
  </div>
<% end %>
</div>
